$animationTime: 0.2s;

.dialog {
  --dialog-pd: 32px 32px;
  --dialog-bdrs: 16px;
  --dialog-bdw: 2px;
  --dialog-bdc: var(--color-primary);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // padding: var(--dialog-pd);
  padding: 32px 16px 32px 32px;
  border: none;
  border-radius: var(--dialog-bdrs);
  box-shadow: inset 0 0 0 var(--dialog-bdw) var(--dialog-bdc), 0 4px 16px var(--color-neutral-400);
  color: var(--color-neutral-700);
  transition: opacity $animationTime ease-in-out;

  background-color: var(--dialog-bgc, var(--color-neutral-100));

  &:modal {
    max-width: calc(100vw - var(--dialod-frame-width, 64px) * 2);
    max-height: calc(100vh - var(--dialod-frame-width, 64px) * 2);
  }

  &_open {
    opacity: 1;

    &::backdrop {
      background: rgba(255, 255, 255, 0.75) !important;
    }
  }

  &_closed {
    opacity: 0;

    &::backdrop {
      background: transparent;
    }
  }

  &::backdrop {
    transition: $animationTime ease-in-out;
  }
}
